<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<a th:href="@{/noteModify}">
    <button>Create</button>
</a>

<table th:if="${session.currentUser}">
    <thead>
        <tr>
            <th>title</th>
            <th>created</th>
            <th>modified</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="note: ${allNotes}">
            <td th:text="${note.title}"></td>
            <td th:text="${note.createdDate}"></td>
            <td th:text="${note.modifiedDate}"></td>
            <td><a th:href="@{/noteModify(id = ${note.noteId})}"><button>Update</button></a></td>
        </tr>
    </tbody>
</table>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

</body>
</html>